
h1{
    font-family: Tinos;
 
}

.HomeHeading{
    text-align: center;
    margin: 5rem;
    font-size: 65px;
    color:silver;
}

.profile-img{
    width: 300px;
    display: block;
    margin: 5rem auto;
    border-radius: 25%;}

.myfirst-carousel{
    width: 500px;
    display: block;
    margin: 5rem auto;
}
.MyWorkHeading{
    text-align: center;
    font-style: initial;
    color: deeppink;
}

.Under-pic{
    text-align: center;
    font-family: Tinos;
    font-size: 50px;
    color: silver;

}
.img-col{
    padding-left: 8rem;
}


.RequestApt{
text-align: center;
text-decoration: underline;
}

ul{
    justify-content: center;

}


.container-fluid-footer{
    text-align: center;
}

.mtb {
color:powderblue;
text-align: center;
margin-bottom: 5rem;
}
